
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="~/Content/colorlib-regform-20/images/password.png" />
        </div>
        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @id = "frmLoginChangePassword" }))
        {
            <h3>Change Password</h3>
            <div class="form-holder active">
                @Html.TextBox("token", null, new { @class = "form-control", @placeholder = "Token", @id = "token", required = true, @autcomplete = "off", @type = "text" })
            </div>
            <div class="form-holder">
                @Html.Password("newPassword", null, new { @class = "form-control", @placeholder = "New Password", @id = "newPassword", required = true, @autcomplete = "off", @style = "font-size: 15px;" })
            </div>
            <div class="form-holder">
                @Html.Password("newConfirmPassword", null, new { @class = "form-control", @placeholder = "Confirm Password", @id = "newConfirmPassword", required = true, @autcomplete = "off", @style = "font-size: 15px;" })
            </div>
            <div class="form-login">
                <button type="submit">Change</button>
                @Html.ActionLink("Return to login", "SignIn", "Login", null, new { @class = "link", @id = "linkReturnLogin" })
            </div>
        }
    </div>
</div>
