
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="~/Content/colorlib-regform-20/images/forgotpassword.jpg" />
        </div>
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @id = "frmLoginForgotPassword" }))
        {
            <h3>Email</h3>
            <div class="form-holder active">
                @Html.TextBox("email", null, new { @class = "form-control", @placeholder = "email", @id = "email", required = true, @autcomplete = "off", @type = "text" })
            </div>
            <div class="form-login">
                <button type="submit">Send</button>
                @Html.ActionLink("Return to login", "SignIn", "Login", null, new { @class = "link", @id = "linkReturnLogin" })
            </div>
        }
    </div>
</div>
